# Tuple Basics

Tuples are similar to lists but are immutable. They can only be created and cannot be modified.

An important purpose of tuples is for use as keys for dictionaries. <br>
But if they contain any mutable objects (lists or dictionaries), these objects may be changed.<br> 
Tuples that contain mutable objects aren’t allowed as keys for dictionaries.

In [1]:
x = [1, 2, 3, 4]
tuple(x)

(1, 2, 3, 4)

Conversely, a tuple can be converted to a list by using the built-in function list:

In [1]:
x = (1, 2, 3, 4)
list(x)

[1, 2, 3, 4]

## Creating a tuple

In [15]:
x = ('a', 'b', 'c')
x

('a', 'b', 'c')

In [16]:
x + x

('a', 'b', 'c', 'a', 'b', 'c')

In [17]:
2 * x

('a', 'b', 'c', 'a', 'b', 'c')

# Using indices, methods and operators with tuples

The operators (in, $+$, and $*$) and built-in functions (len, max, and min) operate on them the same way as they do on lists because none of them modifies the original. 

Index and slice notation work the same way for obtaining elements or slices but can’t be used to add, remove, or replace elements.

In [36]:
x = ('a', 'b', 'c')
x[2], x[1:]

('c', ('b', 'c'))

In [35]:
x = (1, 3, 6, 2, 4, 9)
len(x), max(x), min(x)

(6, 9, 1)

In [34]:
5 in x, 5 not in x

(False, True)

Cannot modify a tuple:<br>
x\[2\] = 'd' throws error: 'tuple' object does not support item assignment

# Making a copy of a tuple

In [18]:
x[:]

('a', 'b', 'c')

In [19]:
x * 1

('a', 'b', 'c')

In [20]:
x + ()

('a', 'b', 'c')

# One element tuples

Because square brackets are not used elsewhere \[\] can refer to an empty list and \[1\] to a list with 1 element.

Because round brackets are also used as parentheses, (1) needs a comma to be understood as a tuple with 1 element.

In [21]:
x = 3
y = 4
(x + y) # adds x and y

7

In [22]:
(x + y,) # tuple with 1 element

(7,)

In [23]:
() # empty tuple

()

# Packing and unpacking tuples

In [25]:
(one, two, three, four) =  (1, 2, 3, 4)
one

1

In [27]:
# Python recognizes tuples in an assignment context even without the enclosing parentheses. 
one, two, three, four =  1, 2, 3, 4
three

3

In [29]:
# Useful technique for swapping variables
var1 = 1
var2 = 2
var1, var2 = var2, var1
(var1, var2)

(2, 1)

In Python 3, an element marked with $*$ can absorb any number of elements not matching the other elements as a list.

In [38]:
x = (1, 2, 3, 4)
a, b, *c = x
a, b, c

(1, 2, [3, 4])

In [39]:
a, *b, c = x
a, b, c

(1, [2, 3], 4)

In [40]:
*a, b, c = x
a, b, c

([1, 2], 3, 4)

In [41]:
a, b, c, d, *e = x
a, b, c, d, e

(1, 2, 3, 4, [])

Packing and unpacking can also be performed by using list delimiters:

In [42]:
[a, b] = [1, 2]
[c, d] = 3, 4
[e, f] = (5, 6)
(g, h) = 7, 8
i, j = [9, 10]
k, l = (11, 12)

In [45]:
a, [b, c, d], (e, f, g)

(1, [2, 3, 4], (5, 6, 7))

In [47]:
h, i, j, k, l

(8, 9, 10, 11, 12)

# Converting between lists and tuples

In [48]:
list((1, 2, 3, 4))

[1, 2, 3, 4]

In [49]:
tuple([1, 2, 3, 4])

(1, 2, 3, 4)

In [50]:
# Break a string into characters

list("Hello")

['H', 'e', 'l', 'l', 'o']